<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Whatsapp Web</title>
  </head>
  <body>
    <div id="root">
      <div id="container">

        <!-- contenitore di sinistra -->
        <div id="container-left">
          <div class="user-name">
            <div>
              <div class="icon-round-container">
                <img src="img/user-avatar.png" alt="">
              </div>
              <span>Alex</span>
            </div>

            <ul class="list-icons">
              <li><i class="fas fa-circle-notch"></i></li>
              <li><i class="fas fa-comment-alt"></i></li>
              <li><i class="fas fa-ellipsis-v"></i></li>
            </ul>
          </div>

          <div id="notification-activation">
            <div class="icon-round-container">
              <i class="fas fa-bell-slash"></i>
            </div>

            <div id="text-notification-activation">
              <p>Ricevi notifiche di nuovi messaggi</p>
              <p>Attiva notifiche desktop</p>
            </div>
          </div>

          <div id="search-contact-container">
            <div id="search-contact">
              <div id="search-icon-container-search-contact">
                <i class="fas fa-search"></i>
              </div>

              <input type="text" name="" value="" placeholder="Cerca o inizia una nuova chat">
            </div>
          </div>

          <div id="contacts-list-container">
            <ul id="contacts-list">
              <li v-for="(contact, index) in contacts" :class="indexContactList == index ? 'active' : ''" @click="selectUser(index)">
                <span class="avatar-round-container">
                  <img :src="contact.avatar" alt="avatar" class="avatar-icon">
                </span>
                <span class="contact-name">{{contact.name}}</span>
                <!--:class="indexContactList === index ? 'activeClass' : ''"  QUESTO E' IL TERNARIO CHE VOGLIO AGGIUNGERE IN LI PER CREARE LA CLASSE ACTIVE-->
                <!-- <span class="contact-message">{{contact.messages}}</span> -->
                <!-- <span>{{contact.date}}</span> -->
                 </li>
            </ul>
          </div>
        </div>
        <!-- /contenitore di sinistra -->
        <!-- contenitore di destra -->
        <div id="container-right">
          <div class="user-name">
            <div>
              <div class="icon-round-container">
                <img :src="contactInContactList.avatar" alt="avatar" alt="">
              </div>
              <div>
                <span>{{contactInContactList.name}}</span>
                <p>Ultimo accesso alle {{ lastDate }}</p>
              </div>
            </div>

            <ul class="list-icons">
              <li><i class="fas fa-search"></i></li>
              <li><i class="fas fa-paperclip"></i></li>
              <li><i class="fas fa-ellipsis-v"></i></li>
            </ul>
          </div>

          <div id="chat-core">
            <ul id="messages-list">
              <li v-for="(message, index) in contactInContactList.messages" :class="message.status == 'sent' ? 'sent' : 'received'">{{message.text}}</li>
            </ul>
          </div>

          <div id="write-text-chat">
            <div id="smile-container">
              <i class="far fa-smile"></i>
            </div>

            <input type="text" name="" value="" v-model="newMessage" placeholder="Scrivi un messaggio" @keydown.enter="sendNewMessage">

            <div id="microphone-container">
              <i class="fas fa-microphone"></i>
            </div>

          </div>
        </div>
        <!-- /contenitore di destra -->

      </div>
    </div>

    <script src="js/script.js" charset="utf-8"></script>

  </body>
</html>
